.main{
    width:1200px;
    max-width: 100%;
    min-width: 50%;
    margin:0 auto;
    position:relative;
    height:1200px;
    background-color: aliceblue;
}


header{
    width:100%;
    height:120px;
    background-color: chocolate;
}

.logo{width:20%;
    height:120px;
    position:absolute;
    top:0px;
    left:20px;}

.logo>img{
    width:50%;
}

.caption{width:60%;
    height:80px;
    position:absolute;
    top:35px;
    left:20%;
    text-align:center;
    color:darkred;
    font-size:35px;
    font-family:Garamond;
}



.main_image{
    width:100%;
    height:600px;
    position:absolute;
    top:120px;
    left:0px;
    background-color: blanchedalmond;
}

.main_image>img{
    width:100%;
}