.main{
    width:1200px;
    max-width: 100%;
    min-width: 50%;
    margin:0 auto;
    position:relative;
    height:1200px;
    background-color: aliceblue;
}


header{
    width:100%;
    height:120px;
}

.logo{width:20%;
    height:120px;
    position:absolute;
    top:0px;
    left:20px;}

.logo>img{
    width:50%;
}

.caption{width:60%;
    height:80px;
    position:absolute;
    top:35px;
    left:20%;
    text-align:center;
    color:darkred;
    font-size:35px;
    font-family:Garamond;
}



.main_image{
    width:100%;
    height:600px;
    position:absolute;
    top:205px;
    left:0px;
    background-color: blanchedalmond;
}

.main_image>img{
    width:100%;
}


nav{
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    top:120px;
    left:0px;
    background-color:#12114F;}

ul{
    width:75%;
    float:left;}

li{
    display:inline-block;
    list-style-type: none;
    width:20%;
    text-align: center;
    margin-left:3%;
}

nav li>a{
    color:aliceblue;
    font-size:22px;
    font-family: Garamond;
    text-decoration:none;
}

nav li>a:hover{
    text-decoration: underline;
}

.block_buttons{
    width:20%;
    float:left;
    margin-top:8px;}


#btn_sign{
    background-color:aliceblue;
    padding:5px;
    font-size:16px;
    border:none;
    border-radius:5px;
    margin-right:10px;
    }
    
 #btn_sign>a{
    text-decoration:none;
    color:#12114F;
    }
    
    
#btn_login{
    background-color:aliceblue;
    color:darkred;
    padding:5px;
    font-size:16px;
    border:none;
    border-radius:5px;
}
    
 #btn_login>a{
    text-decoration:none;
    color:#12114F;
}


.caption1{
    width:100%;
    height:20px;
    position: absolute;
    top:850px;
    left:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color:darkred;
    font-size:44px;
    font-style: bold;
    font-family:Garamond;

}

.destination_countries{
    width:100%;
    height:500px;
    position:absolute;
    top:950px;
    left:0px;
    background-color: darkgray;
}